{% extends 'blog/base.html' %}

{% block body %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="authorArticle" class="form-label">Автор статьи</label>
            <input type="text" class="form-control" name="authorArticle" id="authorArticle" placeholder="Автор статьи">
        </div>
        <div class="mb-3">
            <label for="titleArticle" class="form-label">Введите название статьи</label>
            <input type="text" class="form-control" name="titleArticle" id="titleArticle" placeholder="Название статьи">
        </div>
        <div class="mb-3">
            <label for="textArticle" class="form-label">Введите текст</label>
            <textarea class="form-control" name="textArticle" id="textArticle" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Опубликовать</button>
    </form>

    {{ form }}

{% endblock %}