{% extends "form_app/base.html" %}

{% block title %}
    Добавить пользователя
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-8 mx-auto mb-5 mt-5">
                {{ form.as_p }}
            </div>
            <div class="d-grid gap-2 col-6 mx-auto pt-5">
                <button type="submit" class="btn btn-lg btn-success mb-5">Подтвердить данные</button>
            </div>

            {% if error %}
                <div class="alert alert-danger mt-5" role="alert">
                    {{ error }}
                </div>
            {% endif %}

        </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Эл.почта</th>
                <th scope="col">Фото</th>
                <th scope="col">URL</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.pk }}</th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <img class="img-fluid" src="{{ user.photo.url }}" alt="{{ user.slug }}" width="100">
                    </td>
                    <td>{{ user.slug }}</td>
                </tr>
            {% empty %}
                <h3>Зарегистрированных пользователей в системе нет!</h3>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}