{% extends "form_app/base.html" %}

{% block title %}
    Все пользователи
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for user in users %}

                <div class="col-4 mb-3">
                    <div class="card">
                        <img src="{{ user.photo.url }}" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.pk }}. {{ user.first_name }} {{ user.last_name }}</h5>
                            {#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
                            {#                    card's content.</p>#}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Имя: {{ user.first_name }}</li>
                            <li class="list-group-item">Фамилия: {{ user.last_name }}</li>
                            <li class="list-group-item">Email: {{ user.email }}</li>
                            <li class="list-group-item">Slug: {{ user.slug }}</li>
                        </ul>
                        {#            <div class="card-body">#}
                        {#                <a href="#" class="card-link">Card link</a>#}
                        {#                <a href="#" class="card-link">Another link</a>#}
                        {#            </div>#}
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}