<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="text-white">О нас</h4>
                    <p class="text-muted">Блог обо мне и о мире вокруг.</p>
                </div>
                <div class="col-sm">
                    <h4 class="text-white">Категории</h4>
                    <ul class="list-unstyled">
                        {% for cat in cats %}
                        <li><a href="{% url 'blog:show_cat' cat.slug %}" class="text-white">{{ cat.name }}</a></li>
                        {% empty %}
                        <p class="text-muted">Нет ни одной категории</p>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm">
                    <h4 class="text-white">Навигация</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'blog:index' %}" class="text-white">Главная</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'blog:create_post' %}" class="text-white">Создать пост</a></li>
                        <li><a href="{% url 'blog:personal_account' %}" class="text-white">Личный кабинет</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="d-flex justify-content-start">
                <a href="{% url 'blog:index' %}" class="navbar-brand d-flex align-items-center">
                    <strong>Главная</strong>
                </a>
            </div>
            <div class="d-flex justify-content-end">

                {% if request.user.is_authenticated %}
                <strong class="navbar-brand">
                <a href="{% url 'blog:personal_account' %}">{{ user.username }}</a>
                </strong>
                <strong class="navbar-brand"> | </strong>
                <a href="{% url 'blog:logout' %}"
                    class="navbar-brand d-flex align-items-center"><strong>Выйти</strong></a>

                {% else %}
                <a href="{% url 'blog:register' %}"
                    class="navbar-brand d-flex align-items-center"><strong>Регистрация</strong></a>
                <strong class="navbar-brand"> | </strong>
                <a href="{% url 'blog:login' %}"
                    class="navbar-brand d-flex align-items-center"><strong>Войти</strong></a>
                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</header>